<!DOCTYPE HTML>
<html>
 <head>
  <title>Monitoring of coolig system</title>
   <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
   <script src="static/libs/plotly-latest.min.js"></script>
   <script src="static/libs/gauge.min.js"></script>
   <script type="text/javascript" charset="utf-8">
     $(document).ready(function() {
      var gauge = new RadialGauge({
          renderTo: 'canvasID',
          width: 300,
          height: 300,
          units: "[RPM]",
          minValue: "0",
          maxValue: "6000",
          valueBox: "false",
          majorTicks: [
              "0",
              "1000",
              "2000",
              "3000",
              "4000",
              "5000",
              "6000",
          ],
          minorTicks: 2,
          strokeTicks: true,
          highlights: [
              {"from": 5000, "to": 6000, "color": "rgba(250, 50, 50, .75)"},
          ],
          colorPlate: "#fff",
          borderShadowWidth: 0,
          borders: false,
          needleType: "arrow",
          needleWidth: 2,
          needleCircleSize: 7,
          needleCircleOuter: true,
          needleCircleInner: false,
          animationDuration: 300,
          animationRule: "linear"
      }); 
      
      var x = new Array();
      var y = new Array();
      var y1 = new Array();
      var y2 = new Array();
      
      var trace;
      var layout;
      
      namespace = '/test';
      var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

      socket.on('connect', function() {
        socket.emit('my_event', {data: 'I\'m connected!', value: 1}); });

      socket.on('my_response', function(msg) {
        console.log(msg.data);
        $('#log').append('Received #'+msg.count+': '+msg.data+': '+msg.data1+': '+msg.data2+'<br>').html();
        gauge.value = msg.data;  
        x.push(parseInt(msg.count));
        y.push(parseInt(msg.data));
        y1.push(parseInt(msg.data1));
        y2.push(parseInt(msg.data2));
        trace = {
            x: x,
            y: y1,
        };       
        layout = {
          title: 'System temperature',
          xaxis: {
              title: 'time [s]',
          },
          yaxis: {
              title: 'Temperature [°C]',
              range: [0,90]
          }
        };
        //console.log(trace);
        var traces = new Array();
        traces.push(trace);
        Plotly.newPlot($('#plotdiv')[0], traces, layout); 
        //addTraces*/   
        
        //skuska novy graf 
        trace = {
            x: x,
            y: y,
        };       
        layout = {
          title: 'Fan',
          xaxis: {
              title: 'time [s]',
          },
          yaxis: {
              title: 'RPM',
              range: [0,6000]
          }
        };
        //console.log(trace);
        var traces = new Array();
        traces.push(trace);
        Plotly.newPlot($('#plotdiv1')[0], traces, layout);   
        
        //skuska nony graf 2
        trace = {
            x: x,
            y: y2,
        };       
        layout = {
          title: 'PWM load',
          xaxis: {
              title: 'time [s]',
          },
          yaxis: {
              title: 'PWM load [%]',
              range: [0,100]
          }
        };
        //console.log(trace);
        var traces = new Array();
        traces.push(trace);
        Plotly.newPlot($('#plotdiv2')[0], traces, layout); 
        });
        

      $('form#start').submit(function(event) {
          socket.emit('start_request');
          return false; });
      $('form#stop').submit(function(event) {
          socket.emit('stop_request');
          return false; });
      $('form#disconnect').submit(function(event) {
          socket.emit('disconnect_request');
          return false; });         
      });
   </script>
  </head>
 <body>
  <h1>Monitoring of coolig system</h1>
  <form id="start" method="POST" action="#">
    <input type="submit" value="start">
 </form>
  <form id="stop" method="POST" action="#">
    <input type="submit" value="stop">
  </form>
  <form id="disconnect" method="POST" action="#">
    <input type="submit" value="Disconnect">
  </form>
  <div id="plotdiv" style="width:600px;height:300px;"></div> 
  <div id="plotdiv1" style="width:600px;height:300px;"></div> 
  <div id="plotdiv2" style="width:600px;height:300px;"></div> 
  <canvas id="canvasID" style="width:300px;height:300px" ></canvas>
  </form> 
  <h2>Receive:</h2>
  <div id="log"></div>
 </body>
</html>
